* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: cornsilk;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 10vw;
    background: linear-gradient(170deg, aqua 50%, cornsilk 50%);
}

.about-name {
    color: whitesmoke;
    font-size: 50px;
    margin: 0;
}

.about-image {
    z-index: 1;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 450px;
    width: 400px;
    border: 3px solid lime;
    background-color: slateblue;
}

.about-text-box {
    height: fit-content;
    background-color: whitesmoke;
    padding: 10px;
}

.about-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.about-text {
    font-size: 24px;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 5vh 10vw;
    gap: 40px;
}

.project-card {
    width: 425px;
    height: 475px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

.project-image {
    height: 65%;
    border: 2px solid maroon;
}

.card-description {
    height: 35%;
    border: 2px solid gray;
}

.contact-section {
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 0 10vw;
    background-color: aqua;
}

.contact-info,
.contact-picture-space {
    width: 100%;
}

@media (min-width: 769px) and (max-width: 1150px) {
    .about-image {
        height: 350px;
        width: 300px;
    }

    .about-name {
        font-size: 44px;
    }
    
    .about-text {
        font-size: 20px;
    }
    
    .projects-section {
        gap: 20px;
    }
    
    .project-card {
        width: 300px;
        height: 365px;
    }
}

@media (max-width: 768px) {
    .about-section {
        padding: 5vh 5vw;
    }
    
    .about-image {
        height: 275px;
        width: 225px;
    }

    .about-name {
        font-size: 36px;
    }

    .about-text-box {
        height: fit-content;
    }

    .about-title {
        font-size: 30px;
    }

    .about-text {
        font-size: 16px;
    }

    .projects-section {
        padding: 0 5vw;
    }

    .project-card {
        width: 275px;
        height: 325px;
    }

    .contact-section {
        padding: 0 5vw;
    }
}

@media (max-width: 575px) {
    .about-section {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        height: 350px;
        width: 300px;
        margin: auto;
    }

    .about-text-box {
        width: 300px;
        padding: 5px;
        height: fit-content;
        translate: 0;
    }

    .about-title {
        font-size: 24px;
    }

    .about-text {
        font-size: 14px;
    }

    .projects-section {
        justify-content: center;
    }

    .contact-section {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}