* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: gainsboro;
}

img {
    display: block;
}

.about-section {
    background: linear-gradient(175deg, rgb(45, 180, 190) 50%, gainsboro 50%);
}

.about-content {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 10vw;
    margin: auto;
}

.about-name {
    color: black;
    font-size: 50px;
    margin: 0;
}

.about-image {
    z-index: 1;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 450px;
    width: 400px;
    background-image: url(./images/Smaller_me_pic.JPG);
    background-size: cover;
    border-radius: 15px;
}

.about-text-box {
    height: fit-content;
    margin-left: -25px;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 15px;
}

.about-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.about-text {
    font-size: 24px;
}

.projects-section {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 0 10vw 5vh 10vw;
    grid-gap: 2rem;
    margin: auto;
}

.project-card {
    width: 100%;
    height: 475px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 7px 7px 3px darkslategray;
}

.project-image {
    height: 65%;
    object-fit: contain;
    background-color: rgb(45, 180, 190);
    border-radius: 15px 15px 0 0;
}

.card-description {
    height: 35%;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 0 0 15px 15px;
}

.project-title-line {
    display: flex;
    justify-content: space-between;
}

.project-title {
    margin: 0 0 20px 0;
}

.project-description {
    font-size: 18px;
}

.contact-section {
    background-color: rgb(45, 180, 190);
}

.contact-content {
    max-width: 1440px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    margin: auto;
}

.contact-info {
    height: 100%;
}

.contact-picture {
    display: block;
    height: 95%;
    margin: 1rem 0;
    object-fit: cover;
    border-radius: 15px;
}

@media (min-width: 769px) and (max-width: 1150px) {
    .about-image {
        height: 350px;
        width: 300px;
    }

    .about-name {
        font-size: 44px;
    }
    
    .about-text {
        font-size: 20px;
    }
    
    .project-card {
        width: 300px;
        height: 425px;
    }

    .project-description {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .about-content {
        padding: 5vh 5vw;
    }
    
    .about-image {
        height: 275px;
        width: 225px;
    }

    .about-name {
        font-size: 36px;
    }

    .about-text-box {
        height: fit-content;
    }

    .about-title {
        font-size: 30px;
    }

    .about-text {
        font-size: 16px;
    }

    .projects-section {
        padding: 0 5vw 3vh 5vw;
    }

    .contact-content {
        padding: 0 5vw;
    }
}

@media (max-width: 575px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        height: 350px;
        width: 300px;
        margin: auto;
        border-radius: 15px 15px 0 0;
    }

    .about-text-box {
        width: 300px;
        padding: .5rem;
        height: fit-content;
        margin-left: 0;
        border-radius: 0 0 15px 15px;
    }

    .about-title {
        font-size: 24px;
    }

    .about-text {
        font-size: 14px;
    }

    .projects-section {
        justify-content: center;
    }

    .project-card {
        width: 300px;
        height: 365px;
    }

    .project-description {
        font-size: 14px;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .contact-picture {
        height: 400px;
        padding: 0;
    }
}